// ----------------------------------------------
//		box-sizing
// ----------------------------------------------
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  overflow-x: hidden;

  // — убирает синее подсвечивание при клике на девайсах.
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}

.link {
  text-decoration: none;
  color: $text-color;
  transition: color 0.25s ease;
  text-transform: uppercase;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent-color;
  }
  &:active {
    color: $accent-color;
  }
}

.accent-point {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $accent-color;
  }

}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media only screen and (max-width: 1200px) {
    max-width: 970px;
  }
  @media only screen and (max-width: 992px) {
    max-width: 750px;
  }
  @media only screen and (max-width: 768px) {
    max-width: 540px;
    padding: 0 15px;
  }
  @media only screen and (max-width: 480px) {
    max-width: none;
    padding: 0 5px;
  }
}
