// ----------------------------------------------
//		portfolio
// ----------------------------------------------
.portfolio {
  padding: 92px 0 100px 0;
  background-color: #262626;

  &__tabs {
    margin: 0 auto;
    margin-bottom: 50px;

    @media only screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
    @media only screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: 1200px) {
    padding: 80px 0;
  }
  @media only screen and (max-width: 992px) {
    padding: 70px 0;
  }
  @media only screen and (max-width: 768px) {
    padding: 50px 0;
  }
  @media only screen and (max-width: 480px) {
    padding: 30px 0;
  }
}

.tabs {
  max-width: 530px;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 480px) {
    flex-wrap: wrap;
  }

  &__item {
    color: #999999;
    letter-spacing: 0.17px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.25s ease;
    text-align: center;

    @media only screen and (max-width: 480px) {
      // display: inline;
      width: 100%;

      &::before {
        left: 30%;
      }
    }

    &::before {
      top: 10px;
      left: -5px;
      opacity: 0;
      transition: opacity 0.25s ease;
    }

    &:hover {
      color: $accent-color;
    }

    &_active {
      color: $accent-color;

      &::before {
        opacity: 1;
      }
    }
  }
}

.content {
  display: grid;
  grid-gap: 30px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 270px);

  @media only screen and (max-width: 1200px) {
    grid-template-rows: repeat(7, 223px);
    grid-gap: 25px;
  }
  @media only screen and (max-width: 992px) {
    grid-template-rows: repeat(7, 176px);
    grid-gap: 15px;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 166px);

    grid-gap: 5px;
  }
  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 150px);
  }

  &__item {
    background-color: #ebebeb;

    &:nth-child(2),
    &:nth-child(11) {
      grid-column: span 2;
    }
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(14) {
      grid-column: span 2;
      grid-row: span 2;
    }

    @media only screen and (max-width: 768px) {
      &:nth-child(11),
      &:nth-child(7) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(2) {
        grid-column: span 2;
      }
      &:nth-child(6),
      &:nth-child(14) {
        grid-column: span 2;
        grid-row: span 2;
      }
      &:nth-child(17) {
        grid-column: 3 / 3;
        grid-row: 6 / 6;
      }
    }
    @media only screen and (max-width: 480px) {
      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(6),
      &:nth-child(14) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(17) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
