// ----------------------------------------------
//		portfolio
// ----------------------------------------------
.portfolio {
  padding: 92px 0 100px 0;
  background-color: #262626;

  &__categories {
    margin: 0 auto;
    margin-bottom: 50px;

    @media only screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
    @media only screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: 1200px) {
    padding: 80px 0;
  }
  @media only screen and (max-width: 992px) {
    padding: 70px 0;
  }
  @media only screen and (max-width: 768px) {
    padding: 50px 0;
  }
  @media only screen and (max-width: 480px) {
    padding: 30px 0;
  }
}

.categories {
  max-width: 530px;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 480px) {
    flex-wrap: wrap;
  }

  &__filter {
    color: #999999;
    letter-spacing: 0.17px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.25s ease;
    text-align: center;

    @media only screen and (max-width: 480px) {
      // display: inline;
      width: 100%;

      &::before {
        left: 30%;
      }
    }

    &::before {
      top: 10px;
      left: -5px;
      opacity: 0;
      transition: opacity 0.25s ease;
    }

    &:hover {
      color: $accent-color;
    }

    &_active {
      color: $accent-color;

      &::before {
        opacity: 1;
      }
    }
  }
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: row dense;

  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 270px;

  @media only screen and (max-width: 1200px) {
    grid-auto-rows: 223px;
    grid-gap: 25px;
  }
  @media only screen and (max-width: 992px) {
    grid-auto-rows: 167px;
    grid-gap: 15px;
  }
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 166px;

    grid-gap: 5px;
  }
  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
  }

  &__item {
    position: relative;
    background-color: #ebebeb;
    transition: opacity .35s linear;

    &:hover {
      .hover {
        opacity: 0.95;
      }
    }

    &:nth-child(2),
    &:nth-child(11) {
      grid-column: span 2;
    }
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(14) {
      grid-column: span 2;
      grid-row: span 2;
    }

    @media only screen and (max-width: 768px) {
      &:nth-child(11),
      &:nth-child(7) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(2) {
        grid-column: span 2;
      }
      &:nth-child(6),
      &:nth-child(14) {
        grid-column: span 2;
        grid-row: span 2;
      }
      &:nth-child(17) {
        grid-column: 3 / 3;
        grid-row: 6 / 6;
      }
    }
    @media only screen and (max-width: 480px) {
      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(6),
      &:nth-child(14) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(17) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__hover {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    opacity: 0;
  
    @media only screen and (max-width: 1200px) {
      top: 15px;
      left: 15px;
      bottom: 15px;
      right: 15px;
    }
    @media only screen and (max-width: 992px) {
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
    }
  }
}

.hover {
  display: grid;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #ebebeb;
  z-index: 100;
  transition: opacity 0.5s ease;

  &__details {
    margin: auto;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 992px) {
      font-size: 12px;
    }
  }

  &__work-descr {
    position: relative;
    margin-top: 24px;
    margin-bottom: 15px;
    font-weight: 700;

    &::after {
      position: absolute;
      content: '';
      bottom: -7px;
      width: 30px;
      left: 50%;
      margin-left: -15px;
      height: 1px;
      border: 1px solid #f15c58;
    }

    &::before {
      right: -14px;
      top: 8px;
      width: 5px;
      height: 5px;

      @media only screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__work-themes {
    font-family: 'Open Sans';
    font-weight: 600;
  }
}
